@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  display: inline-block;
  animation: marquee linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
